.AppBackgroundBar {
  display: none;
  height: 128px;
}

@media (min-width: 720px) {
  .AppBackgroundBar {
    display: flex;
  }
}

.AppContent {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

.AppContentBar {
  max-width: 100%;
  flex: 1;
  color: #fff;
  min-width: 80%;
  align-self: flex-start;
}

.AppContentSidebar {
  flex: 1;
  height: 100%;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@media (min-width: 768px) {
  .AppContent {
    max-width: 90vw;
    bottom: 64px;
    top: 64px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: auto;
  }
}
